@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans/regular/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/regular/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/regular/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans/bold/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans/bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/bold/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/bold/OpenSans-Bold.ttf") format("truetype");
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

body {
  background-color: #E2E2E2;
  font-family: "OpenSans", sans-serif;
  min-height: 100vh;
}

a {
  color: #81BAD4;
  text-decoration: none;
  outline: none;
}

header {
  width: 100%;
  height: 60px;
  background-color: #81BAD4;
}

.logo {
  float: left;
  line-height: 55px;
  margin-right: 10px;
}

.logo a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
  text-decoration: none;
}

.menu {
  float: left;
}

.menu ul {
  line-height: 55px;
}

.menu ul li {
  float: left;
  margin-right: 15px;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  position: relative;
  color: #FFF;
  font-size: 20px;
  text-decoration: none;
}

.menu ul li a::before {
  content: ' ';
  display: block;
  width: 0;
  height: 1px;
  background-color: #FFF;
  position: absolute;
  bottom: -1px;
  left: 0;
  -webkit-transition: width, .5s ease;
  -o-transition: width, .5s ease;
  transition: width, .5s ease;
}

.menu ul li a:hover::before {
  width: 100%;
}

.user-data {
  color: #FFF;
  line-height: 55px;
  font-size: 20px;
}

.user-data .sing-out a {
  color: #FFF;
}

.user-data .sing-out a .fa {
  position: relative;
  top: 7px;
  font-size: 36px;
  margin-left: 10px;
}

.content.v-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 88vh;
}

.content .error-message {
  padding-top: 50px;
  max-width: 1000px;
  height: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content .error-message .icon-message {
  text-align: center;
}

.content .error-message .icon-message i {
  font-size: 326px;
  color: #CB0909;
}

.content .error-message .text-message {
  text-align: center;
  font-size: 30px;
  color: #95989A;
}

.content .error-message .text-message a {
  display: inline-block;
  border-bottom: 1px solid #81BAD4;
  height: 30px;
}

.content .sing-in-form {
  max-width: 690px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.content .sing-in-form .form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 60px 0;
  width: 85%;
}

.content .sing-in-form .form .input-text {
  margin-bottom: 20px;
}

.content .sing-in-form .form .input-text input {
  width: 100%;
  height: 46px;
  padding: 0 20px;
  color: #FFF;
  background-color: #81BAD4;
  border: none;
  border-bottom: 2px solid #56859A;
  outline: none;
  font-size: 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: border-bottom-color, .3s;
  -o-transition: border-bottom-color, .3s;
  transition: border-bottom-color, .3s;
}

.content .sing-in-form .form .input-text input:focus {
  border-bottom-color: #79a2b4;
}

.content .sing-in-form .form .input-text input::-webkit-input-placeholder {
  color: #FFF;
}

.content .sing-in-form .form .input-text input::-moz-placeholder {
  color: #FFF;
}

.content .sing-in-form .form .input-text input:-moz-placeholder {
  color: #FFF;
}

.content .sing-in-form .form .input-text input:-ms-input-placeholder {
  color: #FFF;
}

.content .sing-in-form .form .input-check label {
  color: #56859A;
  cursor: pointer;
  font-size: 18px;
}

.content .sing-in-form .form .input-btn {
  text-align: center;
}

.content .sing-in-form .form .input-btn input {
  background-color: #87c2de;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #FFF;
  cursor: pointer;
  margin-top: 48px;
  font-size: 18px;
  padding: 10px 60px;
  outline: none;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
}

.content .sing-in-form .form .input-btn input:hover {
  background-color: #5faed3;
}

.content .tables {
  min-height: 780px;
  margin-top: 60px;
  background-color: #FFF;
}

.content .tables .tables-list {
  width: 100%;
}

.content .tables .tables-list li {
  width: 100%;
  height: 50px;
  background-color: #F5F5F5;
  border-bottom: 1px solid #EEEEEE;
  -webkit-transition: border-bottom-color, .7s;
  -o-transition: border-bottom-color, .7s;
  transition: border-bottom-color, .7s;
}

.content .tables .tables-list li:hover {
  border-bottom-color: #c8c8c8;
}

.content .tables .tables-list li:last-child {
  border-bottom: none;
}

.content .tables .tables-list li .right {
  height: 100%;
}

.content .tables .tables-list li .table-name {
  line-height: 50px;
  margin-left: 17px;
  font-size: 20px;
  color: #959595;
}

.content .tables .tables-list li .table-info {
  line-height: 50px;
  font-size: 20px;
  color: #959595;
  margin-right: 200px;
  float: left;
  text-transform: uppercase;
}

.content .tables .tables-list li .table-info .table-rows {
  margin-right: 10px;
}

.content .tables .tables-list li .table-controls {
  float: right;
  height: 100%;
}

.content .tables .tables-list li .table-controls .btn {
  width: 50px;
  height: 100%;
  border: none;
  outline: none;
  margin: 0;
  cursor: pointer;
  -webkit-transition: background-color, .5s;
  -o-transition: background-color, .5s;
  transition: background-color, .5s;
}

.content .tables .tables-list li .table-controls .btn .fa {
  font-size: 48px;
  color: #FFF;
}

.content .tables .tables-list li .table-controls .btn.table-edit {
  margin-right: -4px;
  background-color: #D99816;
}

.content .tables .tables-list li .table-controls .btn.table-edit:active {
  background-color: #ebaf37;
}

.content .tables .tables-list li .table-controls .btn.table-remove {
  background-color: #A55050;
}

.content .tables .tables-list li .table-controls .btn.table-remove:active {
  background-color: #b96f6f;
}

.error-message {
  padding: 40px 70px;
}

.error-message .error-title {
  font-size: 60px;
  color: #d79034;
  margin-bottom: 30px;
}

.error-message .error-text {
  font-size: 30px;
  color: #B30707;
  margin-bottom: 20px;
}

.alert {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 650px;
  height: 307px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alert .v-center {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alert .alert-text {
  color: #95989A;
  font-size: 25px;
}

.alert .buttons-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.alert .btn {
  width: 84px;
  height: 38px;
  text-transform: uppercase;
  color: #FFF;
  border: none;
  -webkit-transition: background-color, .4s;
  -o-transition: background-color, .4s;
  transition: background-color, .4s;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

.alert .btn.ok {
  background-color: #79C900;
  margin-right: 55px;
}

.alert .btn.ok:active {
  background-color: #88e300;
}

.alert .btn.cancel {
  background-color: #CE1212;
}

.alert .btn.cancel:active {
  background-color: #ec2727;
}

.icheckbox_styling,
.iradio_styling {
  display: inline-block;
  vertical-align: middle;
  background: #70ACC7;
  position: relative;
  width: 29px;
  height: 29px;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  cursor: pointer;
}

.icheckbox_styling.checked::before,
.iradio_styling.checked::before {
  content: '\f00c';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: FontAwesome, sans-serif;
  font-size: 20px;
  color: #FFF;
}
