@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans/regular/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/regular/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/regular/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans/bold/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans/bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/bold/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/bold/OpenSans-Bold.ttf") format("truetype");
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #E2E2E2;
  font-family: "OpenSans", sans-serif;
}

.left {
  float: left;
}

.right {
  float: right;
}

header {
  width: 100%;
  height: 60px;
  background-color: #81BAD4;
  margin-bottom: 20px;
}

.logo {
  float: left;
  line-height: 55px;
  margin-right: 10px;
}

.logo a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
  text-decoration: none;
}

.menu {
  float: left;
}

.menu ul {
  line-height: 55px;
}

.menu ul li {
  float: left;
  margin-right: 15px;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  position: relative;
  color: #FFF;
  font-size: 20px;
  text-decoration: none;
}

.menu ul li a::before {
  content: ' ';
  display: block;
  width: 0;
  height: 1px;
  background-color: #FFF;
  position: absolute;
  bottom: -1px;
  left: 0;
  -webkit-transition: width, .5s ease;
  -o-transition: width, .5s ease;
  transition: width, .5s ease;
}

.menu ul li a:hover::before {
  width: 100%;
}

.user-data {
  color: #FFF;
  line-height: 55px;
  font-size: 20px;
}

.user-data .sing-out a {
  color: #FFF;
}

.user-data .sing-out a .fa {
  position: relative;
  top: 7px;
  font-size: 36px;
  margin-left: 10px;
}

.mfp-close-btn-in .mfp-close {
  color: #FFF;
}

button.mfp-close {
  width: 50px;
  height: 40px;
  line-height: 38px;
  font-size: 35px;
  background-color: #CC0000;
  opacity: 1;
  -webkit-transition: background-color .4s ease;
  -o-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

button.mfp-close:hover {
  background-color: #e60000;
}

button.mfp-close:active {
  top: 0;
}

.mfp-close.icon::before {
  content: '\f00d';
  font-family: 'FontAwesome', sans-serif;
}

.base-popup {
  max-width: 1200px;
  width: 100%;
  min-height: 150px;
  background-color: #FFF;
  position: relative;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity .7s ease;
  -o-transition: opacity .7s ease;
  transition: opacity .7s ease;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
  top: -40px;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  top: 0;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  top: -40px;
}
