@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans/regular/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/regular/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/regular/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans/bold/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans/bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/bold/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/bold/OpenSans-Bold.ttf") format("truetype");
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #E2E2E2;
  font-family: "OpenSans", sans-serif;
  min-height: 100vh;
}

a {
  color: #81BAD4;
  text-decoration: none;
  outline: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

header {
  width: 100%;
  height: 60px;
  background-color: #81BAD4;
}

.logo {
  float: left;
  line-height: 55px;
  margin-right: 10px;
}

.logo a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
  text-decoration: none;
}

.menu {
  float: left;
}

.menu ul {
  line-height: 55px;
}

.menu ul li {
  float: left;
  margin-right: 15px;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  position: relative;
  color: #FFF;
  font-size: 20px;
  text-decoration: none;
}

.menu ul li a::before {
  content: ' ';
  display: block;
  width: 0;
  height: 1px;
  background-color: #FFF;
  position: absolute;
  bottom: -1px;
  left: 0;
  -webkit-transition: width, .5s ease;
  -o-transition: width, .5s ease;
  transition: width, .5s ease;
}

.menu ul li a:hover::before {
  width: 100%;
}

.user-data {
  color: #FFF;
  line-height: 55px;
  font-size: 20px;
}

.user-data .sing-out a {
  color: #FFF;
}

.user-data .sing-out a .fa {
  position: relative;
  top: 7px;
  font-size: 36px;
  margin-left: 10px;
}

.content.v-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 88vh;
}

.content .error-message {
  padding-top: 50px;
  max-width: 1000px;
  height: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content .error-message .icon-message {
  text-align: center;
}

.content .error-message .icon-message i {
  font-size: 326px;
  color: #CB0909;
}

.content .error-message .text-message {
  text-align: center;
  font-size: 30px;
  color: #95989A;
}

.content .error-message .text-message a {
  display: inline-block;
  border-bottom: 1px solid #81BAD4;
  height: 30px;
}

.error-message {
  padding: 40px 70px;
}

.error-message .error-title {
  font-size: 60px;
  color: #d79034;
  margin-bottom: 30px;
}

.error-message .error-text {
  font-size: 30px;
  color: #B30707;
  margin-bottom: 20px;
}
