@import "vars"
@import "font"
@import "_mixins/placeholder"

// Base styles
.wrapper
  width: 1200px
  margin: 0 auto

body
  background-color: $background
  font-family: $mainFont
  min-height: 100vh

a
  color: $mainColor
  text-decoration: none
  outline: none

.left
  float: left

.right
  float: right
// Header styles
header
  width: 100%
  height: 60px
  background-color: $mainColor


.logo
  float: left
  line-height: 55px
  margin-right: 10px
  a
    color: rgba(#FFF, .5)
    font-size: 25px
    text-decoration: none

.menu
  float: left
  ul
    line-height: 55px
    li
      float: left
      margin-right: 15px
      &:last-child
        margin-right: 0
      a
        position: relative
        color: #FFF
        font-size: 20px
        text-decoration: none
        &::before
          content: ' '
          display: block
          width: 0
          height: 1px
          background-color: #FFF
          position: absolute
          bottom: -1px
          left: 0

          transition: width, .5s ease

        &:hover
          &::before
            width: 100%
.user-data
  color: #FFF
  line-height: 55px
  font-size: 20px
  .sing-out
    a
      color: #FFF
      .fa
        position: relative
        top: 7px
        font-size: 36px
        margin-left: 10px

// Content styles
.content
  &.v-center
    display: flex
    align-items: center
    height: 88vh
  // Error message styles
  .error-message
    padding-top: 50px
    max-width: 1000px
    height: 500px
    width: 100%
    margin: 0 auto
    background-color: #FFF
    box-sizing: border-box

    .icon-message
      text-align: center
      i
        font-size: 326px
        color: #CB0909

    .text-message
      text-align: center
      font-size: 30px
      color: $fontColor
      a
        display: inline-block
        border-bottom: 1px solid $mainColor
        height: 30px
  // Sing in styles
  .sing-in-form
    max-width: 690px
    width: 100%
    margin: 0 auto
    background-color: #FFF
    display: flex

    .form
      display: flex
      flex-direction: column
      margin: 0 auto
      padding: 60px 0
      width: 85%
      .input-text
        margin-bottom: 20px
        input
          width: 100%
          height: 50 - 4px
          padding: 0 20px
          color: #FFF
          background-color: #81BAD4
          border: none
          border-bottom: 2px solid #56859A
          outline: none
          font-size: 21px

          box-sizing: border-box

          transition: border-bottom-color, .3s

          &:focus
            border-bottom-color: lighten(#56859A, 12%)

          +placeholder(#FFF)

      .input-check
        label
          color: #56859A
          cursor: pointer
          font-size: 18px

      .input-btn
        text-align: center
        input
          background-color: #87c2de
          border: none
          border-radius: 3px
          box-shadow: none
          color: #FFF
          cursor: pointer
          margin-top: 48px
          font-size: 18px
          padding: 10px 60px
          outline: none

          transition: background-color .5s

          &:hover
            background-color: darken(#87c2de, 10%)


// Popup styles
.error-message
  padding: 40px 70px
  .error-title
    font-size: 60px
    color: #d79034
    margin-bottom: 30px

  .error-text
    font-size: 30px
    color: #B30707
    margin-bottom: 20px

// Checkbox Style
.icheckbox_styling,
.iradio_styling
  display: inline-block
  vertical-align: middle
  background: #70ACC7
  position: relative
  width: 29px
  height: 29px
  margin: 0
  padding: 0
  border-radius: 5px
  cursor: pointer
  &.checked 
    &::before
      content: '\f00c'
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      font-family: FontAwesome, sans-serif
      font-size: 20px
      color: #FFF